/* colors
accent #FF6C00
maine white #FF6C00
title rgba(48, 48, 48, 1)
title #9DA4BD
 text #555555 
rgba(85, 85, 85, 1)
 */
:root {
    --primery-font-family: Open Sans, sans-serif;
    --font-weight: 400;
    /* Colors */
    --primery-text:
        rgba(85, 85, 85, 1);
    --primery-white: rgba(255, 255, 255, 1);
    --accent: rgba(255, 108, 0, 1);
    --text-grey-light: rgba(157, 164, 189, 0.6);
    --primery-grey: rgba(48, 48, 48, 1);
}

body {
    background-color: var(--primery-white);
    font-family: var(--primery-font-family);
    font-weight: var(--font-weight);
    color: var(--primery-text);
}

.link {
    text-decoration: none;
}

.instagram,
.youtube {
    color: var(--primery-grey);
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.2em;
}

.list {
    list-style: none;
}

.list {
    list-style: none;
}

.logo {
    color: #303030;
}

.barbershop-header,
.hero,
.prices,
.contacts,
.booking {
    background-color: #757572;
}

/* розібратися із вкладенням, перебиває колір посилнь на ютуб та інстаграм */
.barbershop-header a {
    color: var(--primery-white);
}

.nav-link {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.1em;
}

/* hero */
.hero-text-light {
    color: var(--text-grey-light);
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.1em;
}

.hero-title {
    font-family: Raleway, sans-serif;
    color: var(--primery-white);
    font-size: 72px;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 0.05em;
}

.hero-text-dark {
    color: rgba(157, 164, 189, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.02em;
}

/* about */
.about-text-light {
    text-transform: uppercase;
    border-color: var(--primery-white);
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;

}

.about-title,
.features-title,
.barbers-title,
.booking-title,
.contacts-title {
    font-family: raleway, sans-serif;
    color: var(--primery-grey);
    font-size: 42px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.05em;
}

.about-description-primery,
.about-description-secondary {
    color: var(--primery-text);
    font-weight: 400;
    letter-spacing: 0.02em;
}

.about-description-primery {
    font-size: 18px;
    line-height: 1.66;
}

.about-description-secondary {
    font-size: 14px;
    line-height: 1.85;
}

/* btn */
.btn {
    color: var(--primery-grey);
    text-transform: uppercase;
    border: var(--accent) solid 1px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.09em;
}

/* prices */
.prices-text-light {
    color: var(--text-grey-light);
}

.prices-title {
    color: var(--primery-white);
}

.prices-list {
    color:
        rgba(157, 164, 189, 1);
}

/* features */
.features-text,
.features-title {
    color: var(--primery-grey);
}

.features-text {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.05em;
}

.features-description {
    color: var(--primery-text);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.66;
    letter-spacing: 0.02em;
}

.features-list {
    color: var(--primery-text);
    font-size: 42px;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: 0.05em;
}

.sup {
    color: var(--accent);
}

.features-rate {
    color: var(--primery-grey);
    font-size: 42px;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: 0.05em;
}

.features-benefits {
    color: var(--primery-grey);
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
}

/* barbers */
.barbers-text {
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
}

.barber-name {
    color: var(--primery-grey);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.38;
    letter-spacing: 0.02em;
}

.barbers-deskription {
    color: var(--accent);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 0.02em;
}

/* portfolio */
.portfolio-text {
    color: var(--primery-grey);
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
}

/* booking */
.booking-title {
    color: var(--primery-white);

}

/* contacts */

.contacts-title {
    color: var(--primery-white);
}



.contacts-address {
    font-style: normal;
}

.contacts-link,
.contacts-text,
.contacts-map {
    color: rgba(157, 164, 189, 1);
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 1.66;
}

.contacts-map {
    font-weight: 700;
}

.contacts-link,
.contacts-text {
    font-weight: 400;

}

.contacts-description {
    color: var(--primery-white);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
}

/* copiright */
.copyright {
    color: rgba(157, 164, 189, 1);
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.02em;
}

.copyright-link {
    color: var(--primery-grey);
}